
.auth-container {
    min-height: calc(100vh - 50px);
    padding: 3rem;
    position: relative;

    .auth-title {
        font-size: 2rem;
        font-weight: 500;
        color: $black;
        text-align: center;
        padding: 0 2rem;
        margin: 0 auto;
        margin-bottom: 5rem;
        width: max-content;
        border-bottom: 2px solid $black;
    }

    .auth-avatar-container {
        position: absolute;
        top: 150px;
        left: 10%;

        .auth-avatar-reset-link {
            color: red;
            font-size: 0.7em;
            font-weight: 600;
            margin-top: 1.5rem;
            cursor: pointer;
            transition: opacity 0.3s ease-out, transform 0.3s ease-out;

            &:hover {
                opacity: 0.8;
                transform: scale(1.04);
            }
        }
    }

    .auth-image-select-container {
        border-bottom: 3px solid $blue;
        transition: opacity 0.3s ease-out, transform 0.3s ease-out;

        &:hover {
            cursor: pointer;
            opacity: 0.8;
            transform: scale(1.01);
        }

        .auth-image-select-image {
            width: 150px;
            height: 200px;
        }

        .auth-image-select {
            display: none;
        }

        .auth-image-select-text {
            text-align: center;
            color: $blue;
            font-size: 0.9em;
            font-weight: 600;
            margin: 0 0.5rem;
        }
    }

    .auth-form {
        width: 40%;
        margin: 0 auto;
        padding: 2rem;
        display: flex;
        flex-direction: column;

        .auth-input {
            width: 100%;
            padding: 0 1rem;
            margin-bottom: 2rem;
            border: none;
            border-bottom: 1px solid $blue;
            color: $blue;
            font-size: 1.5em;
            font-weight: 600;

            &::placeholder {
                color: lightgray;
                font-size: 0.8em;
                font-weight: 500;
            }

            &:focus {
                outline: none;
            }
        }

        .auth-text {
            text-align: center;
            margin-top: 1rem;
            font-size: 0.9em;
        }

        .auth-link {
            color: $blue;
            font-size: 1.1em;
            font-weight: 500;
            margin-left: 0.5rem;
            transition: color 0.3s ease-out;

            &:hover {
                color: $blueGrey;
            }
        }
    }
}